In [39]:
import glob

import pyreadr
import pandas as pd
import icd10
import pandas as pd
from scipy.stats import pearsonr

In [40]:
diag_df = pd.read_csv('data/Diagnosis_global_10years.csv')  # Read diagnosis metadata  DiagAll_Eng.csv
diag_df = diag_df[diag_df['age_id'] < 9].iloc[:1080, :]
# Add an 'ID' column to diag_df starting from 0 up to the number of rows in diag_df
diag_df['ID'] = range(0, len(diag_df))
diag_df.loc[:, 'English description'] = [icd10.find(x[0]).description if icd10.find(x[0]) else x[1] for x in diag_df[['icd_code', 'descr']].values ]
diag_df.loc[:, 'icd_global'] = diag_df['icd_global'].str.replace('__', '-')
diag_df

,Unnamed: 0,diagnose_id,icd_code,descr,postion,age_id,age_range,icd_global,ID,English description
0,1,1,A00,Cholera,1,1,0-9,A00-0-9,0,Cholera
1,2,2,A01,Typhus abdominalis und Paratyphus,2,1,0-9,A01-0-9,1,Typhoid and paratyphoid fevers
2,3,3,A02,Sonstige Salmonelleninfektionen,3,1,0-9,A02-0-9,2,Other salmonella infections
3,4,4,A03,Shigellose [Bakterielle Ruhr],4,1,0-9,A03-0-9,3,Shigellosis
4,5,5,A04,Sonstige bakterielle Darminfektionen,5,1,0-9,A04-0-9,4,Other bacterial intestinal infections
...,...,...,...,...,...,...,...,...,...,...
1075,1076,1070,N95,Klimakterische Störungen,1076,1,0-9,N95-0-9,1075,Menopausal and other perimenopausal disorders
1076,1077,1071,N96,"Neigung zu habituellem Abort, Infertilität, Un...",1077,1,0-9,N96-0-9,1076,Recurrent pregnancy loss
1077,1078,1072,N97,Sterilität der Frau,1078,1,0-9,N97-0-9,1077,Female infertility
1078,1079,1073,N98,Komplikationen im Zusammenhang mit künstlicher...,1079,1,0-9,N98-0-9,1078,Complications associated with artificial ferti...
1079,1080,1074,N99,Krankheiten des Urogenitalsystems nach medizin...,1080,1,0-9,N99-0-9,1079,Intraoperative and postprocedural complication...

In [41]:
open_target_df = pd.read_csv('harmonized_open_target_corr_99_icd.csv')
open_target_df.index = open_target_df.columns
display(open_target_df)

,E68,A49,E42,E88,J82,K66,B41,E46,G00,F18,...,B49,F38,B90,A64,D53,I00,E59,A33,A97,K87
E68,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
A49,0.0,0.000000,0.0,0.0,0.0,0.0,0.175361,0.000000,0.000000,0.000000,...,0.087081,0.093121,0.167121,0.245641,0.000000,0.000000,0.000000,0.0,0.123728,0.0
E42,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.058985,0.000000,0.000000,0.0,0.000000,0.0
E88,0.0,0.208109,0.0,0.0,0.0,0.0,0.198122,0.193053,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.121754,0.0
J82,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.049409,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
I00,0.0,0.000000,0.0,0.0,0.0,0.0,0.076207,0.064824,0.353548,0.000000,...,0.000000,0.000000,0.080634,0.000000,0.000000,0.000000,0.000000,0.0,0.069957,0.0
E59,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.411208,0.0,0.000000,0.0
A33,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.061346,0.000000,0.137852,...,0.000000,0.000000,0.000000,0.000000,0.020279,0.000000,0.000000,0.0,0.000000,0.0
A97,0.0,0.123728,0.0,0.0,0.0,0.0,0.185413,0.117938,0.000000,0.000000,...,0.034731,0.000000,0.101611,0.000000,0.000000,0.069957,0.000000,0.0,0.070420,0.0
K87,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.035186,0.000000,0.000000,0.000000,0.0,0.000000,0.0

In [48]:
rds_files = glob.glob("data/dementia_age_groups/*.rds")
df_out = pd.DataFrame(columns=['Graph', 'ICD10', 'Pearson', 'p-val'])
ind = 0
for f in rds_files:
    result = pyreadr.read_r(f) # also works for RData
    # result is a dictionary where keys are the name of objects and the values python
    df = result[None] # extract the pandas data frame 
    # dfs[gender].columns = [str(col) for col in df.columns]
    df.fillna(0, inplace=True)
    df.columns = diag_df['icd_code']
    df.index = diag_df['icd_code']
    df = df.loc[df.index.isin(open_target_df.index), df.columns.isin(open_target_df.columns)]
    
    for code in ['F01', 'F02', 'F03', 'G30']:
        if code in df.index:
            row1 = df.loc[code]
            row2 = open_target_df.loc[code]

            # Compute Pearson correlation coefficient and p-value
            corr, pval = pearsonr(row1, row2)

#             print(f"{f}, {code}: Pearson correlation: {corr}, p-val: {pval}")
            df_out.loc[ind] = [f.split('/')[-1].split('.')[0].replace('All_OR_', ''), code, corr, pval]
            ind+=1
df_sorted = df_out.sort_values(by='Pearson', key=lambda x: x.abs(), ascending=False)
df_sorted.to_csv('hospital_gene_correlations_pearson.csv', index=False)
df_sorted

/var/folders/2h/45bqs84942sfxfwfndsxtgs40000gn/T/ipykernel_50857/3554853467.py:20: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  corr, pval = pearsonr(row1, row2)
/var/folders/2h/45bqs84942sfxfwfndsxtgs40000gn/T/ipykernel_50857/3554853467.py:20: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  corr, pval = pearsonr(row1, row2)
/var/folders/2h/45bqs84942sfxfwfndsxtgs40000gn/T/ipykernel_50857/3554853467.py:20: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  corr, pval = pearsonr(row1, row2)
/var/folders/2h/45bqs84942sfxfwfndsxtgs40000gn/T/ipykernel_50857/3554853467.py:20: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  corr, pval = pearsonr(row1, row2)

             Graph ICD10   Pearson     p-val
9             Male   G30  0.046468  0.167231
23          Female   G30  0.034519  0.305003
2     Female_Age_9   F01  0.033767  0.315675
32    Female_Age_7   F01  0.029927  0.373872
35  Female_Age_7_8   G30  0.026785  0.426121
11    Female_Age_8   G30  0.025523  0.448253
15      Male_Age_9   G30  0.021008  0.532519
3     Female_Age_9   G30  0.019503  0.562294
12      Male_Age_8   F01  0.017614  0.600763
8             Male   F01  0.016104  0.632352
22          Female   F01  0.015797  0.638838
4     Male_Age_7_8   F01  0.015380  0.647739
28    Female_Age_6   F01  0.013191  0.695154
0   Female_Age_5_6   F01  0.013191  0.695154
14      Male_Age_9   F01  0.012972  0.699967
13      Male_Age_8   G30  0.012084  0.719605
5     Male_Age_7_8   G30  0.011978  0.721959
6    Female_Age_10   F01  0.011075  0.742145
1   Female_Age_5_6   G30 -0.010536  0.754277
29    Female_Age_6   G30 -0.010536  0.754277
18      Male_Age_6   F01 -0.009932  0.767945
26    Male_Age_5_6   F01 -0.009932  0.767945
7    Female_Age_10   G30  0.009659  0.774158
16      Male_Age_7   F01  0.008767  0.794526
33    Female_Age_7   G30 -0.007320  0.827853
31     Male_Age_10   G30  0.007177  0.831168
19      Male_Age_6   G30  0.004834  0.885817
27    Male_Age_5_6   G30  0.004834  0.885817
30     Male_Age_10   F01  0.003805  0.909992
17      Male_Age_7   G30 -0.001681  0.960168
10    Female_Age_8   F01 -0.000771  0.981721
34  Female_Age_7_8   F01  0.000477  0.988702
20      Male_Age_5   F01       NaN       NaN
21      Male_Age_5   G30       NaN       NaN
24    Female_Age_5   F01       NaN       NaN
25    Female_Age_5   G30       NaN       NaN